@import  "font-awesome/css/font-awesome.css" ;  
@import "jsoneditor/dist/jsoneditor.min.css";
@import 'codemirror/lib/codemirror';
@import 'codemirror/addon/lint/lint';
@import "codemirror/addon/hint/show-hint.css";
@import 'codemirror/theme/material.css';
@import 'codemirror/addon/fold/foldgutter.css';

.getAndDelete {
    margin-right: 950px;
    color: red;
}

.postAndPut {
    margin-left: -340px;
    color: red;
}

.getAndDeleteSql {
    color: red;
}

.postAndPutSql {
    color: red;
}
button.mat-primary {
    background-color: #002659;
}