.addBtn {
    background-color: #002659;
    color: white;
  }
  #tableHead {
    text-align: left;
  }
  #save:disabled {
    border: 1px solid #999999!important;
  background-color: #cccccc!important;
  color: #666666!important;
}