<div class="container" style="text-align: center;">
  <!-- Modal Section START -->
  <!-- <div>
    <form name="form" #f="ngForm">
      <h1 mat-dialog-title> Title</h1>
      <div mat-dialog-content class="row">
        <mat-form-field appearance="outline"  class="col-md-12">
          <input matInput placeholder="Name" [(ngModel)]="customDomain.name" #name="ngModel" name="name">
        </mat-form-field  >
        <mat-form-field appearance="outline"  class="col-md-12">
          <textarea matInput rows="20" placeholder="Description" [(ngModel)]="customDomain.details"
            #details="ngModel" name="description"></textarea>
        </mat-form-field  >
      </div>
      <div mat-dialog-actions class="row">
        <div class="col-6">
          <button type="button" mat-button color="primary" style="float: right" (click)="dialogRef.close()"><span
              translate>popups.buttons.cancel</span></button>
        </div>
        <div class="col-6">
          <button id="confirm" type="button" style="float: left" mat-button color="primary" cdk-focused
            (click)="createNewDataSource()">
            <span translate>popups.buttons.confirm</span>
          </button>
        </div>
      </div>
    </form>
  </div> -->

</div>