<app-loader></app-loader>

<div class="example-container mat-elevation-z1" *ngIf="group?.resources?.length > 0" style="margin-top:10px">
    <mat-table #table [dataSource]="group.resources">

        <!-- Position Column -->
        <ng-container matColumnDef="check">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element, let i = index" style="width: 10px">
                <mat-checkbox *ngIf="(group.name !== 'Authentication Grizzly' && group.name !== 'Authentication Oauth') && group.name !== 'Analytics Microservice'"
                    id="{{group.name.concat('#',element.path,'#',element.httpMethod)}}"
                    (click)="checkResource(element,group)" #myCheckBoxs></mat-checkbox>
            </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="Method">
            <mat-header-cell *matHeaderCellDef translate style="justify-content:center">resource.method
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content:center">
                <button mat-button style="width: 55%" [ngClass]="{post: element.httpMethod == 'POST', 
          put: element.httpMethod == 'PUT', 
          get: element.httpMethod == 'GET', 
          delete: element.httpMethod == 'DELETE',
          patch: element.httpMethod == 'PATCH',
          head: element.httpMethod == 'HEAD',
          options: element.httpMethod == 'OPTIONS'
          }" disabled>{{element.httpMethod}}</button>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="File Uri">
            <mat-header-cell *matHeaderCellDef translate>resource.path</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.path}} </mat-cell>
        </ng-container>


        <!-- Weight Column -->
        <ng-container matColumnDef="Summary">
            <mat-header-cell *matHeaderCellDef style="justify-content:center"> Summary </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.summary }} </mat-cell>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef style="justify-content:center"> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element, let i = index" style="justify-content:center ; cursor: pointer">
                <mat-icon matTooltip="{{ 'api.edit' | translate }}" (click)="openResourceEditModal(element, i)"
                    *ngIf="group.name !== 'Authentication Grizzly' && group.name !== 'Authentication Oauth'">edit</mat-icon>
                <mat-icon matTooltip="{{ 'api.copy' | translate}}" (click)="copyAPIURL(element)">file_copy</mat-icon>
                <mat-icon class="invalid" *ngIf="element.valid ==='Invalid'"
                    matTooltip="{{ 'resource.invalid' | translate }}" (click)="openInvalidResourceModal(element)">
                    warning</mat-icon>
                <mat-icon *ngIf="element.valid ==='Valid'" matTooltip="{{ 'resource.valid' | translate }}">
                    assignment_turned_in</mat-icon>
                <mat-icon (click)="infoApi(element)" matTooltip="How to use it"
                    *ngIf="(group.name == 'Authentication Grizzly') && (i >= 4)">help</mat-icon>
                <button mat-icon-button [disabled]="checkResourceState(element)"
                    *ngIf="element.executionType !== 'Query'">
                    <mat-icon matTooltip="{{executeMessage(element)}}" (click)="execute(element)">build</mat-icon>
                </button>&nbsp;

            </mat-cell>
        </ng-container>
        
        <!-- Function Column -->
        <ng-container  matColumnDef="Functions">
            <mat-header-cell *matHeaderCellDef style="justify-content:center"> Functions </mat-header-cell>
            <mat-cell   style="justify-content:center ; cursor: pointer" *matCellDef="let element"><mat-icon  *ngIf="(group.name !== 'Authentication Grizzly') && ( (element.functions && element.functions[0]) || (element.inFunctions && element.inFunctions[0]) || (element.outFunctions && element.outFunctions[0]) )" matTooltip="Attached Functions" (click)="openFunctionInfoModal(element)">code</mat-icon></mat-cell>
            
        </ng-container>

        <!-- Roles Column -->
        <ng-container matColumnDef="Roles">
            <mat-header-cell *matHeaderCellDef style="justify-content:center"> Roles </mat-header-cell>
            <mat-cell style="justify-content:center ; cursor: pointer" *matCellDef="let element"><mat-icon matTooltip="{{element.securityLevel}}">
                {{element.securityLevel[0] !== 'public' ? 'lock' : 'lock_open' }}
            </mat-icon></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row cdkDrag [cdkDragData]="row" *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" [matTooltip]="getParams(row)"
            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>

            
             
            
    </mat-table>
</div>

<div *ngIf="group?.resources?.length == 0" style="text-align: center">
    <hr>
    <span translate>resource.noResources</span>
</div>