<div class="container-fluid no-breadcrumbs page-dashboard">


  <div class="row" style="justify-content: center;">
    <div class="col-xl-2 col-sm-6">
      <div class="box box-default">
        <div class="box-top">
          <em class="material-icons color-danger">api</em>
        </div>
        <div class="box-info">
          <span translate>dashboard.microserviceCount</span>
        </div>
        <div class="box-bottom">
          <span>{{analyticsData.msCount}} </span>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-sm-6">
      <div class="box box-default">
        <div class="box-top">
          <em class="material-icons color-warning">unarchive</em>
        </div>
        <div class="box-info">
          <span translate>dashboard.datasourceCount</span>
        </div>
        <div class="box-bottom">
          <span>{{analyticsData.dbCount}} </span>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-sm-6">
      <div class="box box-default">
        <div class="box-top">
          <em class="material-icons color-success">how_to_reg</em>
        </div>
        <div class="box-info">
          <span translate>dashboard.idpCount</span>
        </div>
        <div class="box-bottom">
          <span>{{analyticsData.idpCount}} </span>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-sm-6">
      <div class="box box-default">
        <div class="box-top">
          <em class="material-icons color-info">cloud_download</em>
        </div>
        <div class="box-info">
          <span translate>dashboard.dataStored</span>
        </div>
        <div class="box-bottom">
          <span>{{analyticsData.data?.storedContent}} KB</span>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-sm-6">
      <div class="box box-default">
        <div class="box-top">
          <em class="material-icons color-warning">cloud_upload</em>
        </div>
        <div class="box-info">
          <span translate>dashboard.fileStored</span>
        </div>
        <div class="box-bottom">
          <span>{{analyticsData.data?.storedFile}} KB </span>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-sm-6">
      <div class="box box-default">
        <div class="box-top">
          <em class="material-icons color-danger">send_time_extension</em>

        </div>
        <div class="box-info">
          <span translate>dashboard.requestCount</span>
        </div>
        <div class="box-bottom">
          <span>{{analyticsData.requestCount}} </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="justify-content: center;">
    <!--
    <div class="col-xl-3 col-sm-6">
      <div class="box box-default">
        <div class="box-top">
          <em class="material-icons color-success">save</em>
        </div>
        <div class="box-info">
          <span translate>dashboard.totalStored</span>
        </div>
        <div class="box-bottom">
          <span>{{analyticsData.data?.totalStored}} KB</span>
        </div>
      </div>
    </div>
      -->
    
  </div>
 





  <div class="box box-default">
    <div class="box-body padding-lg">
      <div class="row">
        <div class="col-xl-6">
          <div class="box box-transparent">
            <div class="box-heading" style="text-align: center"><span translate>dashboard.apiCount</span></div>
            <div class="box-body">
              <div *ngIf="analyticsData.apiCounts" myECharts [EChartsOptions]="apiCountChart" style="height: 300px;">
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="box box-transparent">
            <div class="box-heading" style="text-align: center"><span translate>dashboard.usedData</span></div>
            <div class="box-body">
              <div *ngIf="analyticsData.apiCounts" myECharts [EChartsOptions]="dataChart" style="height: 300px;"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>