button {
  cursor: pointer;
}

button.mat-primary {
  background-color: #002659;
}

.dbContainer {
  height: 50vh;
  position: relative;
}

.step-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}
