button {
    cursor: pointer;
}

button.mat-primary {
    background-color: #002659;
}

.dbContainer {
    height: 50vh;
    position: relative;
  }
  
  .step-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
.idpName {
    font-weight: bold;
    font-size: 16px;
}
.mat-slide-toggle {
    text-align: left;
}

.item-card-selected {
    border: 2px solid skyblue;
}

img {
    height: 100px;
    padding: 5px;
}

.step-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* Ajoutez cette classe dans le fichier CSS du composant */
.reduce-spacing {
    margin-bottom: -10px; /* Ajustez la valeur pour diminuer l'espacement */
    padding: 0 5px; /* Optionnel : ajustez le padding horizontal */
  }
  .form-group {
    margin-bottom: 8px; /* Diminue l'espacement entre les lignes */
  }
  .mat-horizontal-stepper-header-container {
    height: 40px;
  }
 .mat-horizontal-stepper-content {
    height: 400px; /* Remplacez 400px par la hauteur désirée */
  }
  