<h4 style="text-align: center; margin-top: 20px;">
  <strong translate>editor.model</strong>
</h4>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <mat-form-field appearance="outline"  style="width: 100%;">
        <mat-label>
          <span *ngIf="containerToSave.endpointModels?.length > 0" translate>api.placeholder.selectModel</span>
          <span *ngIf="containerToSave.endpointModels?.length === 0" translate>api.placeholder.noModel</span>
        </mat-label>
        <mat-select [disabled]="containerToSave.endpointModels?.length === 0" matNativeControl name="reqModel"
          (selectionChange)="showModel($event.value)" [(ngModel)]="swaggerModel">
          <mat-option *ngFor="let model of containerToSave.endpointModels" [value]="model.title">
            {{ model.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button class="col-md-2 addBtn" matSuffix mat-raised-button style="height: 48px;" (click)="toggleEditor()">
      <mat-icon class="material-icons">add</mat-icon> <span translate>api.ad</span>

    </button>
  </div>
  <div *ngIf="showModelEditorForAdd || showModelEditorForManage" class="row">
    <div class="col-md-12">
      <pre>
                      <span class="btn-group" style="float:right">
                         <button *ngIf="showModelEditorForAdd" (click)="requestModelFile.click()"  mat-button >
                          <mat-icon>cloud_upload</mat-icon>
                      </button> 
                     
                      <!-- button for add  -->
                      <button *ngIf="showModelEditorForAdd" mat-button (click)="parseModel()">
                        <mat-icon >save</mat-icon>
                      </button>
                       <!-- button for edit  -->
                      <button *ngIf="showModelEditorForManage" mat-button (click)="editModel()">
                        <mat-icon >save</mat-icon>
                      </button>
                      <button *ngIf="showModelEditorForManage" mat-button (click)="deleteModel()">
                        <mat-icon >delete</mat-icon>
                      </button>
                      </span>
                      <p *ngIf="showModelEditorForAdd"  style="float: left;margin-left: 10px;font-weight: bold;"><span translate>popups.model.tsIndication</span></p>
                      <p *ngIf="showModelEditorForManage"  style="float: left;margin-left: 10px;font-weight: bold;"><span translate>popups.model.tsEditIndication</span> <br><span translate>popups.model.nameNotEditable</span></p>
                     <br>
                      <ngx-codemirror #codeMirror 
                    [(ngModel)]="modelToPass"
                    [options]="{
                      lineNumbers: true,
                      theme: 'material',
                      mode: 'javascript',
                      lineWrapping: false,
                      foldGutter: true,
                      gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter', 'CodeMirror-lint-markers'],
                      autoCloseBrackets: true,
                      matchBrackets: true
                    }"
                  ></ngx-codemirror>
                   
                  <input #requestModelFile type="file" name="file" [style.display]="'none'"
                  (change)="importRequestModel()"
                  ng2FileSelect [uploader]="requestUploader">
                  
                  </pre>
    </div>
  </div>
</div>